# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

input*.txt
/coverage
